.container1 {
    border: 1px solid;
}

 #wrapper {
            height: 300px;
            /* border: 1px solid; */
            color: black;
            overflow-y: scroll;
        }
 #first {
     background: olivedrab;
 }       